/* 
This CSS resource incorporates links to font software which is 
the valuable copyrighted property of WebType LLC, The Font Bureau 
and/or their suppliers. You may not attempt to copy, install, 
redistribute, convert, modify or reverse engineer this font 
software. Please contact WebType with any questions: www.webtype.com
*/

@font-face {
 font-family: "Agenda";
 src: url("/css/Lato2.ttf") format("truetype");
 font-style: normal;
 font-weight: normal;
}