#submit_payu { border:none; background:none; cursor:pointer; margin-top:25px; text-decoration:underline;}
#redirection_wrapper { float: left; width: 450px; margin-top: 20px;}
.confirm_order_now { clear:both; font-weight:bold;}