<script type="text/javascript">
      window.onload = setTimeout(function () {
        var form = document.getElementById("redirect_form");
        form.submit();
    },{$redirect_timer}000);

</script>
<img style="float:left; margin: 0px 10px 5px 0px;" alt="Payu.ro" src="{$this_path}payu_logo.png">

<div id="redirection_wrapper">
	<br /><br />
<span class="redirection_info">{l s="You will be redirected to the PayU.ro website in a few seconds, if you are not redirected please click the button below."}</span>
<form name="frmForm" id="redirect_form" action="{$live_update_url}" method="post">{$form_html}{$redirect_html}
<br />	
<input type="submit" class="button_large" value="{l s='Go to PayU'}" id="submit_payu" /> </form>
</div>