body {
    font-family: 'Agenda', sans-serif;
}

.content_sortPagiBar .sortPagiBar {
    border-bottom: 0;
}
a:hover {
    text-decoration: underline;
}
.sf-menu {
    border: none;
    background: none;
}

.sf-menu > li {
    border: none;
    padding: 25px 41px;
}
.sf-menu > li:first-child {
    padding-left: 0;
}
.sf-menu > li:last-child {
    padding-right: 0;
}

.sf-menu > li > a {
    font: 16px "Agenda", sans-serif;
    text-transform: uppercase;
    color: #c49a6c;
    display: block;
    padding: 0;
    border-bottom: none;
}

header .row #header_logo {
    width: 100%;
}

header .nav {
    background: none;
}

#header .shopping_cart {
    padding-top: 0;
}



#header .shopping_cart > a:first-child:after {
    display: none;
}

#htmlcontent_home ul li.htmlcontent-item-5 {
    width: 33.33333%;
}

#social_block_top ul li a {
    font-size: 24px;

}

#social_block_top {
    padding-top: 5px;
}

#social_block_top ul li a:before {
    display: inline-block;
    font-family: "FontAwesome";
    vertical-align: -5px;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#social_block_top ul li.facebook a:before {
    content: "\f09a";
}

#social_block_top ul li.pinterest a:before {
    content: "\f0d2";
}

#social_block_top ul li.instagram a:before {
    content: "\f16d";
}

.cat-menu li {
    list-style: none;
    font-size: 16px;
    padding-bottom: 5px;
}

.cat-menu li a {
    color: black;
}

.pagination > li > a, .pagination > li > span {
    border: none
}

.button.exclusive-medium span {
    background-image: none;
}

@media (min-width: 992px) {

    .search_block_top {
        width: 270px;
    }

    .sf-menu > li > ul {
        width: 145px;
        left: auto;
        border-top: 2px dashed #c49a6c;
        border-left: 2px dashed #c49a6c;
        border-right: 2px dashed #c49a6c;
        border-bottom: 2px dashed #c49a6c;
        padding: 15px;
    }

    .sf-menu > li > ul > li {
        float: none;
        width: auto;
    }

    .sf-menu > li > ul > li > a {
        font-size: 10px;
        color: #c49a6c;
    }

    .shopping_cart {
        width: auto;
    }

}

ul.product_list.grid > li .product-container h5 {
    padding: 0;
}

.right-block {
    text-align: left;
}

@media (min-width: 1200px) {
    ul.product_list.grid > li.hovered .product-container {
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        position: relative;
        z-index: 10;
    }

    ul.product_list.grid > li.hovered .product-container .product-image-container .content_price {
        display: none;
    }
}

.footer-container {
    background: none;
}

footer {
    background: #f5f5f5;
    /*padding: 10px;*/

}

.footer-container .container {
    /*padding: 20px;*/
}
.footer-container #footer ul li {
    padding: 0;
    line-height: 13px;
}
.footer-container #footer .footer-block {
    margin: 0;
}

.footer-container .container {
   padding-bottom: 0;
}
.footer_h2 {
    color: #BCBEC0;
    font-size: 14px;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-weight: bold;
}
#footer a {
    color: #BCBEC0 !important;
    text-shadow: none !important;
}
#footer a:hover {
    text-decoration: underline;
}
.footer-container #footer ul li a {
    font-size: 11px;
}
.colfooter {
    /*padding-top: 10px*/
}
.col-left {
    padding: 20px 0 0 20px;
}

input.nl-input {
    background: none;
    border: none;
    position: absolute;
    top: 111px;
    left: 45px;
}
input.nl-input::-webkit-input-placeholder {
    color: #daa08b;

}

input.nl-input:-moz-placeholder { /* Firefox 18- */
    color: #daa08b;

}

input.nl-input::-moz-placeholder {  /* Firefox 19+ */
    color: #daa08b;

}

input.nl-input:-ms-input-placeholder {
    color: #daa08b;

}
ul.product_list.grid > li .product-container .product-image-container {
    border: none;
}

/*.product-image-container:hover {*/
/*background: #f1f2f2;*/
/*}*/
/*.product_img_link {*/
/*display: block;*/
/*}*/

li.ajax_block_product:nth-child(5n+1) .product-image-container:hover {
    background: #ffcced; /* rose */

}

li.ajax_block_product:nth-child(5n+2) .product-image-container:hover {
    background: #f1f2f2; /* grey */

}

li.ajax_block_product:nth-child(5n+3) .product-image-container:hover {
    background: #f9ed82; /* yellow */

}

li.ajax_block_product:nth-child(5n+4) .product-image-container:hover {
    background: #caf2c5; /* green */

}

li.ajax_block_product:nth-child(5n+5) .product-image-container:hover {
    background: #88e0ff; /* blue */

}

.product-name, .product-name span.price.product-price {
    font-size: 12px;
}

.breadcrumb {
    border: none;
    padding: 0px 10px;
}

.breadcrumb a.home {
    border: none
}

.breadcrumb a {
    padding: 1px 15px 0 22px;
}

.top-hr {
    display: none;
}

.pb-left-column #image-block {
    border: none
}

.pb-left-column #image-block img {
    background: none;
}

.box-info-product {
    background: none;
    border: none;
    position: relative;
}

.product_attributes, .box-cart-bottom {
    box-shadow: none;
}

.box-info-product .exclusive {
    border: none;
    background-image: none;
    background-color: #FEDF15;
    border-radius: 0;
}

.box-info-product .exclusive:hover {
    background-color: #fe971b;
    background-image: none;
}

.box-info-product .exclusive span {
    color: black;
    border: none;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: none;
    padding: 20px 49px 20px 20px;
    border-radius: 0;
}

.box-info-product .exclusive:before {
    display: none;
}

.box-info-product .exclusive:after {
    background: none;
}

.box-info-product .exclusive span:after {
    background: none;
    font-family: "FontAwesome";
    position: absolute;
    top: 8px;
    right: 0;
    bottom: 0;
    color: #000;
    font-size: 25px;
    line-height: 47px;
    content: "\f067";
    z-index: 2;
    width: 51px;
    text-align: center;
    border: none;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}

.pb-center-column h1 {
    font-size: 28px;
    padding-bottom: 0px;
}

.pb-center-column h2 {
    font-size: 18px;
    color: black;
}

.pb-center-column #short_description_block #short_description_content {
    padding: 0;
}

.pb-center-column p {
    margin-bottom: 0;
}

.size-chart {
    /*margin-left: 20px;*/
}

.no-padding {
    padding: 0;
}

.top-pagination-content ul.pagination li > a, .top-pagination-content ul.pagination li > span, .bottom-pagination-content ul.pagination li > a, .bottom-pagination-content ul.pagination li > span {
    border: none;
}

.content_prices {
    padding: 0;
}
.our_price_display .price {
    font-size: 16px;
}
.product_attributes, .box-cart-bottom {
    padding: 0;
}

.pb-center-column #buy_block label {
    text-align: left;
    float: left;
}
#quantity_wanted_p {
    margin-bottom: 10px!important;
}
#short_description_block {
    margin-top: 37px;
    border-top: 3px dashed #f1f2f2;
}

@media (min-width: 992px) {
    .box-cart-bottom {
        position: absolute;
        right: 0;
        bottom: 0px;
    }
}

.sf-menu > li.sfHover > a, .sf-menu > li > a:hover, .sf-menu > li.sfHoverForce > a {
    background: none;
    color: #c49a6c;
}

ul.product_list.grid > li.first-in-line {
    clear: none;
}

.new-label {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    display: inline-block;
    background-color: rgb(61, 61, 61);
    color: white;
    font-size: 11px;
    text-transform: uppercase;
    line-height: 14px;
    padding: 0px 3px 0px 3px;
    margin-right: 4px;
    font-family: arial;
    font-weight: bold;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
    width: 50px;
    left: auto;
}
.new-label:before,.new-label:after {
    display: none;
}
.sale-label {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    background: #ff3136;
}
.new-box, .sale-box {
    border-radius: 3px;
    width: 50px;
    text-align: left;
}
header {
    padding-bottom: 0;
}
#block_top_menu {
    padding-top:0;
}
.bx-controls-direction {
    display: none;
}
.box {
    border: none;
}

#order-opc .page-heading {
    border-bottom: 3px dashed #ccc;
}

#order-opc .page-heading.step-num {
    text-align: center;
}
.newsletter {
    width: 380px;
    height: 151px;
    background: url("/img/newsltter-bg.png") no-repeat top left;
}

.button.button-medium {
    background:#FEDF15;
    background-image: none;
    border: none;
}
.button.button-medium:hover {
    background: #fe971b;
}
.button.button-medium span {
    border: none;
    color: black;
}
.btn-default {
    border: none;
}

.attribute_list div.selector span
 {
    width: 55px!important;
}

ul.product_list .product-name,ul.product_list.grid > li .product-container .price
{
    line-height: 15px;

}
.prouct-list-name {
    color: black;
    font-weight: bold;
}

.bottom-pagination-content {
    border: none;
}
.page-heading.product-listing {
    color: #838383;
    font-size: 13px;
    font-weight: normal;
    margin-bottom: -25px;
    padding-bottom: 0;
    margin-top: 0;
    text-align: left;
    text-transform: capitalize;
}

.top-pagination-content ul.pagination li > a, .top-pagination-content ul.pagination li > span, .bottom-pagination-content ul.pagination li > a, .bottom-pagination-content ul.pagination li > span {
    font-size: 11px;
}

.page-heading span.heading-counter {
    font-weight: normal;
    font-size: 11px;

}
ul.product_list .product-name,.price.product-price {
    color: #838383;
}

ul.product_list.grid > li .product-container .old-price {
    color: black;
    font-size: 12px;
}
.sf-menu > li > a:hover {
    text-decoration: none;
    color: #838383;
}

#search_block_top #search_query_top {
    background: #f1f2f2;
    border: none;
    border-radius: 5px;
}

#search_block_top .btn.button-search {
    background: #f1f2f2;
    border-radius: 5px;
}

#layered_block_left .nomargin a {
    color: black;
    font-size: 11px;
}

.layered_filter {
    border: none
}

.top-pagination-content div.pagination .showall, .bottom-pagination-content div.pagination .showall {
    margin-right: 10px;
}

#quantity_wanted_p input {
    width: 41px;
}

.contact-form-box {
    box-shadow: none;
    background: none;
}

.footer-container #footer ul li a {
    font-weight: normal;
}

#contact #center_column p {
    font-size: 12px;
    color: black;
}
#contact #center_column h2 {
    color: black;
    font-size: 18px
}

.page-heading {
    border-bottom: 3px dashed #d6d4d4;
    text-align: center;
    font-family: 'Agenda', sans-serif !important;
}

#old_price {
    font-size: 16px;
}

.top-pagination-content div.pagination, .bottom-pagination-content div.pagination {
    text-align: left;
    width: 100%;
}
.top-pagination-content div.pagination .showall, .bottom-pagination-content div.pagination .showall {
    float: left;
    padding:0;
    margin: 0;
}
.showall button {
    padding: 12px 0 0 0;
}
.top-pagination-content ul.pagination, .bottom-pagination-content ul.pagination {
    float: right;
}

.top-pagination-content div.pagination .showall .btn span, .bottom-pagination-content div.pagination .showall .btn span {
    padding: 0;
}

.shopping_cart > a:first-child {
    background: none;
}

.shopping_cart > a:first-child b {
    color: #777777;
}

.shopping_cart > a:first-child:before {
    color: #777777;
}

#columns {
    padding-bottom: 0;
}